nav {
    background-color: #51688B;
    padding: 5px;
}

nav li {
    display: inline-block;
}

nav button {
    margin: 0 3rem;
    padding: 5px 1.5rem;
    background-color: #D6D8E8;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #89A0B5;
    color: #274153;
    font-weight: bold;
}

h1 {
    color: #E5F0FF;
}

body {
    background-image: url('../img/starrynight3.jpg');
    background-position: center;
    background-size: cover;
    
}

html {
    height: 100%;
}

footer {
    background-color: rgb(194, 211, 255);
}