p, h1, h2, label {
    font-family: "Comfortaa", sans-serif;
}

/* Navigation Bar Color and Style */
nav {
    font-family: "Comfortaa", sans-serif;
    background-color: rgb(57, 72, 95);
    border-bottom: 5px solid #494978;
    padding: 5px;
}

/* Navigation Bar Alignment */
nav li {
    display: inline-block;
}

/* Navigation Text Styling */
nav h1 {
    margin-top: 1rem;
}

/* Navigation Button Styling */
nav button {
    margin: 0 2rem;
    padding: 5px 1.5rem;
    background-color: #D6D8E8;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #89A0B5;
    color: #274153;
    font-weight: bold;
}

nav button:hover {
    background-color: #89A0B5;
}

/* Main Page Styling */
.main-page-text {
    font-family: "Comfortaa", sans-serif;
    color: #E5F0FF;;
}

/* Heading 1 Styling */
h1 {
    color: #E5F0FF;
}

/* "Welcome!" Styling */
.toptitle {
    text-align: center;
    margin-top: 50px;
}

/* Form Styling */
label {
    color: white;
}

form {
    padding-left: 200px;
    padding-right: 200px;
}

[type="submit"] {
    margin-top: 40px;
}

/* Background Image */
body {
    background-image: url('../img/starrynight4.jpg');
    background-position: center;
    background-size: cover;
    background-color: #233341;
}

/* Dream Diary Search Bar and Button Positioning */
body main form {
    font-family: "Comfortaa", sans-serif;
    margin: 1rem;
    text-align: center;
}

/* Dream Diary Search Bar Color */
body main form input {
    font-family: "Comfortaa", sans-serif;
    width: 50%;
    background-color: rgb(236, 244, 247);
}

/* Dream Diary Card */
.card {
    border-width: 3px;
}

/* Dream Diary Normal Dream */
.normal-dream {
    background-color: rgb(170, 170, 241);
}

/* Dream Diary Nightmare */
.nightmare {
    background-color: rgb(223, 79, 72);
}

/* Dream Diary Lucid Dream */
.lucid-dream {
    background-color: rgb(180, 125, 217);
}

/* Dream Diary Card Button */
.card button {
    background-color: #848794;
    color: rgb(240, 241, 248);
    border-radius: 5px;
    position: absolute;
    right: 1rem;
}

.dream-title {
    text-align: center;
    font-weight: bold;
    color: white;
}

/* Corkboard Add Dream Button Styling */
.add-dream-btn {
    font-family: "Comfortaa", sans-serif;
    margin: 2rem;
    display: flex;
    justify-content: center;
}

/* Corkboard Dream Card Styling */
.row-1st {
    margin-top: 1rem;
}

.row-2nd {
    margin-top: 1rem;
}

/* Corkboard Card Body Styling */
.corkboard-card h2{
    display: flex;
    justify-content: center;
}

.corkboard-card p{
    display: flex;
    justify-content: center;
}

/* Corkboard Selector Body Styling */
.select-dream-btn {
    font-family: "Comfortaa", sans-serif;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.tags-selection {
    margin-top: 8rem;
    margin-bottom: 3rem;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: center;
}

.select-your-dream {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.tag {
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.profile-img {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

html {
    height: 100%;
}

/* Footer Styling */
footer {
    font-family: "Comfortaa", sans-serif;
    background-color: rgb(71, 82, 110);
    border-top: 2px solid #c2b1cb;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
