/* HTML */
html {
    height: 100%;
}

/* Body */
body {
    font-family: "Comfortaa", sans-serif;
    background-image: url('../img/starrynight4.jpg');
    background-size: cover;
    background-color: #233341;
    padding-bottom: 30px;
}


/* Nav Bar */
nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 72, 95);
    border-bottom: 5px solid #494978;
}

nav ul {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    list-style-type: none;
    text-align: center;
}

.title-container {
    display: flex;
    align-items: center;
}

.title-container .logo {
    height: 40px; /* Adjust as needed */
    margin-right: 10px; /* Space between the image and the text */
}

/* Navigation Button */
nav button {
    margin: 5px 0;
    padding: 5px 1.5rem;
    background-color: #D6D8E8;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #89A0B5;
    color: #274153;
    font-weight: bold;
}

nav button:hover {
    background-color: #89A0B5;
}





/* Main Page Text Styling */
h1, .main-page-text {
    color: #E5F0FF;
    text-align: center;
}

h1 {
    margin-top: 1.5rem;
}

.toptitle { 
    margin-top: 50px;
}

.main-form {
    padding: 0 3.5rem;
}

[type="submit"] {
    margin-top: 20px;
    background-color: #002684;
}

.pencil-icon {
    margin-left: 10px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}




/* Card Styling */
.card {
    margin: 0.5rem 1rem;
    border-width: 3px;
}



/* Form Styling */
label {
    color: white;
}



/* Dream Diary  */
.search-area {
    display: block;
    margin: 1rem auto;
    text-align: center;
}

.search-bar {
    margin-left: 5px;
    margin-right: 20px;
}

.date-filter {
    margin-left: 5px;
    margin-right: 20px;
}

.search-area input {
    background-color: rgb(236, 244, 247);
    border-radius: 10px;
    text-align: center;
}

.search-area .search-button {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 10px;
}

.search-area .filter-button {
    margin-top: 10px;
    background-color: antiquewhite !important;
    color: black !important;
    border-color: black !important;
}

.notification-button {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 10px;
}

.dream-title, .dream-type {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.dream-type {
    background-color: rgba(255, 255, 255, 0.719);
    mix-blend-mode: hard-light;
    border-radius: 5px;
    margin-top: 20px;
}
.dream-date {
    font-weight: bold;
    color: black;
}

.dream-entry-text {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.748);
}

.normal-dream {
    background-color: rgb(170, 170, 241);
}

.nightmare-dream {
    background-color: rgb(223, 79, 72);
}

.lucid-dream {
    background-color: rgb(180, 125, 217);
}

.view-dream-button {
    mix-blend-mode: hard-light;
    border-radius: 5px;
    position: absolute;
    right: 1rem;
}

.edit-dream-button {
    background-color: rgb(252, 252, 252);
    color: black;   
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.dream-tag {
    mix-blend-mode: hard-light;
    width: auto;
}

.dream-entry {
    padding: 1rem;
}

.dream-entry-img {
    max-width: 175px;
    border-radius: 5px;
    margin: 0 5px;
}

.dream-description {
    padding: 1rem;
}

/* Profile */
.profile-img {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-main-bg {
    background-color:#2d5172;
    color: #E5F0FF;
    border-radius: 10px;
}

.profile-sub-bg {
    background-color:#696586;
    border-radius: 10px;
}


/* sidebar styling */
.sidebar {
    grid-area: sidebar;
    background-color: rgb(255, 226, 196);
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    border-radius: 10px;
}

.sidebar-title {
    font-size: xx-large;
}

.sidebar-paragraph {
    font-size: medium;
}


/* Footer Styling */
footer {
    background-color: rgb(71, 82, 110);
    border-top: 2px solid #c2b1cb;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
}




@media (min-width: 598px) {
    /* Nav Bar */
    nav ul {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        margin-top: 0.5rem;
        justify-content: center;
    }

    nav .title-container {
        align-self: center;
    }

    /* Navigation Button */
    nav button {
        margin: 0 5px;
    }


    main form {
        display: inline-block;
    }

}




@media (min-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding-right: 2rem;
    }
    
    nav ul {
        margin-top: 1.25rem;
        padding-left: auto;
    }

    nav h1 {
        font-size: 2rem;
        text-wrap: nowrap;
    }

    .top-title {
        font-size: 3rem;
    }

    .grid-img {
        padding-top: 0.5rem;
    }

    .dream-date {
        text-align: left;
    }
}




@media (min-width: 1400px) {
    /* Form Styling */
    .main-form {
        padding: 2rem 15.5rem 0;
    }
}